<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

    <div>
        <span th:text="${data}"></span>
        <br><br>

        <b>User List</b>
        <ul style="margin: 0px;">
            <li th:each="user : ${users}" th:text="${user}">Username</li>
        </ul>
    </div>

    <button onclick="sendData()">Send</button>

    <script>
        function sendData() {
            fetch('/api/v1/users', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json', 'Authorization': 'Bearer 232-'
                },
            })
                .then(response => response.text())
                .then(data => alert(data));
        }
    </script>

</body>

</html>